{% set title = "Хомуков Андрей Валерьевич - контакты адвоката" %} {% extends
"default.html" %} {% block content %}

<main>

  <section class="contacts grid-container">
    <div class="price__title-wrapper">
      <h2 class="price__title">
        Контакты
      </h2>
    </div>

    <div class="contacts__block">

      <div class="price__content-box">
        <div class="price__content-block contacts__grid">
          <div class="c1">
            <div class="contacts__content">
              <p class="contacts__content-title">
                Телефоны:
              </p>
              <ul class="contacts__content-list">
                <li class="contacts__content-item">
                  <a type="tel" href="tel:+79103012631" class="contacts__content-link contacts__content-link--link">
                    <img src="assets/img/cont-tel.svg">+7 (910) 301-26-31</a>
                </li>
                <li class="contacts__content-item">
                  <a type="tel" href="tel:+74862507911" class="contacts__content-link contacts__content-link--link">
                    <img src="assets/img/cont-tel.svg">507 - 911</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="c3">
            <div class="contacts__content">
              <p class="contacts__content-title">
                Электронная почта:
              </p>
              <ul class="contacts__content-list">
                <li class="contacts__content-item">
                  <a type="mail" href="mailto:av@homukov.ru"
                    class="contacts__content-link contacts__content-link--link">
                    <img src="assets/img/mail.svg">
                    av@homukov.ru</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="c2">
            <div class="contacts__content">
              <p class="contacts__content-title">
                Адрес офиса:
              </p>
              <ul class="contacts__content-list">
                <li class="contacts__content-item">
                  <p class="contacts__content-link contacts__content-link--text">
                    <img src="assets/img/map.svg">
                    г. Орёл, пер. Воскресеннский,<br>
                    д.16, офис 11 (2 этаж)
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="c4">
            <div class="contacts__content">
              <p class="contacts__content-title">
                График работы:
              </p>
              <div class="contacts__content-img-block">
                <img src="assets/img/work.svg">
                <ul class="contacts__content-list contacts__content-list--grid">

                  <li class="contacts__content-item">
                    <p class="contacts__content-link contacts__content-link--text">пн-пт:</p>
                  </li>
                  <li class="contacts__content-item">
                    <p class="contacts__content-link contacts__content-link--text">10:00 - 19:00</p>
                  </li>
                  <li class="contacts__content-item">
                    <p class="contacts__content-link contacts__content-link--text">сб:</p>
                  </li>
                  <li class="contacts__content-item">
                    <p class="contacts__content-link contacts__content-link--text">11:00 - 16:00</p>
                  </li>
                  <li class="contacts__content-item">
                    <p class="contacts__content-link contacts__content-link--text">вс:</p>
                  </li>
                  <li class="contacts__content-item">
                    <p class="contacts__content-link contacts__content-link--text">выходной</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="c5">
            <div class="contacts__content">
              <p class="contacts__content-title">
                Социальные сети и <br> мессенджеры:
              </p>
              <ul class="contacts__content-list">
                <li class="contacts__content-item">
                  <a href="https://wa.me/79103012631"
                    class="contacts__content-link--social contacts__content-link--link">
                    <ul>
                      <li>
                        <img src="assets/img/soc1.svg" class="svg contacts__link-img">
                      </li>
                      <li>
                        <p class="contacts__content-link contacts__content-link--text">
                          WhatsApp:
                        </p>
                      </li>
                      <li>
                        <p class="contacts__content-link">
                          +7 (910) 301-26-31
                        </p>
                      </li>
                    </ul>
                  </a>
                </li>
                <li class="contacts__content-item">
                  <a href="https://t.me/advhomukov" class="contacts__content-link--social contacts__content-link--link">
                    <ul>
                      <li>
                        <img src="assets/img/soc2.svg" class="svg contacts__link-img">
                      </li>
                      <li>
                        <p class="contacts__content-link contacts__content-link--text">
                          Telegram:
                        </p>
                      </li>
                      <li>
                        <p class="contacts__content-link">
                          @advhomukov
                        </p>
                      </li>
                    </ul>
                  </a>
                </li>
                <li class="contacts__content-item">
                  <a href="https://vk.com/homukoff" class="contacts__content-link--social contacts__content-link--link">
                    <ul>
                      <li>
                        <img src="assets/img/soc3.svg" class="svg contacts__link-img">
                      </li>
                      <li>
                        <p class="contacts__content-link contacts__content-link--text">
                          ВКонтакте:
                        </p>
                      </li>
                      <li>
                        <p class="contacts__content-link">
                          @homukoff
                        </p>
                      </li>
                    </ul>
                  </a>
                </li>
                <li class="contacts__content-item">
                  <a href="https://viber.click/79103012631"
                    class="contacts__content-link--social contacts__content-link--link">
                    <ul>
                      <li>
                        <img src="assets/img/soc4.svg" class="svg contacts__link-img">
                      </li>
                      <li>
                        <p class="contacts__content-link contacts__content-link--text">
                          Viber:
                        </p>
                      </li>
                      <li>
                        <p class="contacts__content-link">
                          +7 (910) 301-26-31
                        </p>
                      </li>
                    </ul>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="qr">
            <img class="svg contacts__qr" src="assets/img/qr.svg" alt="qr">
          </div>
        </div>
      </div>

    </div>
  </section>
  <section>

    <div class="contacts__map-area">

      <div id="map" class="map">
        <div class="contacts__bg"></div>
 
      </div>



    </div>
  </section>
</main>
{% endblock %}