{% set title = "Хомуков Андрей Валерьевич - стоимость услуг адвоката" %}  {% extends
"default.html" %} {% block content %}

<main>

  <section class="price grid-container">
    <div class="price__title-wrapper">
      <h2 class="price__title">
        Cтоимость услуг
      </h2>
    </div>

    <div class="price__desc-wrapper">
      <p class="price__desc p-15">
        Размер вознаграждения адвоката за оказание юридической помощи определяется соглашением между адвокатом и
        лицом, обратившимся за юридической помощью.
      </p>
      <p class="price__desc p-15">
        При отсутствии соглашения об оплате между адвокатом и лицом, обратившимся за юридическая помощью, а равно при
        отсутствии в соглашении размера вознаграждения адвоката за оказание юридической помощи, оплата устанавливается
        с учетом необходимости покрытия адвокатом расходов на осуществление адвокатской деятельности (аренда офиса,
        земли, коммунальные платежи, телефон, оргтехника, мебель, техническое, информационное, бухгалтерское и
        кассовое обслуживание, банковские услуги, канцелярские и почтовые расходы, отчисления на общие нужды
        адвокатского образования и Адвокатской палаты, налоги и иные обязательные платежи, социальное и пенсионное
        страхование и т.д.) по следующим минимальным ставкам в рублях.
      </p>
    </div>


    <div class="price__box-block">
      <div class="price__box">
        <div class="price__label price__label--1">Защита по <span>уголовным делам</span>
        </div>
        <div class="price__content">
          <div class="price__content-box">
            <div class="price__content-block">
              <div class="price__table">
                <p class="price__table-title">
                  Ведение уголовных дел на стадии предварительного расследования:
                </p>
                <div class="table">
                  <div class="table__td">
                    <p class="p-15"><span>по преступлениям небольшой тяжести</span> (умышленные
                      и неосторожные деяния, за совершение которых максимальное наказание не превышает трех лет
                      лишения свободы)</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 45 000</span> ₽</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>по преступлениям средней тяжести</span> (умышленные деяния,
                      за совершение которых максимальное наказание
                      не превышает пяти лет лишения свободы, и неосторожные деяния, за совершение которых
                      максимальное
                      наказание
                      не превышает десяти лет лишения свободы)</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 70 000</span> ₽</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>по тяжким преступлениям </span>(умышленные деяния,
                      за совершение которых максимальное наказание
                      не превышает десяти лет лишения свободы,
                      и неосторожные деяния, за совершение которых максимальное наказание не превышает пятнадцати
                      лет
                      лишения свободы)</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 100 000</span> ₽</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>по особо тяжким преступлениям</span> (умышленные деяния,
                      за совершение которых предусмотрено наказание в виде лишения свободы на срок свыше десяти лет
                      или более строгое наказание)</p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 120 000</span> ₽</p>
                  </div>
                </div>
              </div>

              <div class="price__table">
                <p class="price__table-title">
                  Защита по уголовному делу в суде I инстанции:
                </p>
                <div class="table">
                  <div class="table__td">
                    <p class="p-15"> <span>по преступлениям небольшой тяжести</span> (умышленные
                      и неосторожные деяния, за совершение которых максимальное наказание не превышает трех лет
                      лишения свободы)
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 50 000</span> ₽
                  </div>


                  <div class="table__td">
                    <p class="p-15"><span>по преступлениям средней тяжести</span> (умышленные деяния,
                      за совершение которых максимальное наказание
                      не превышает пяти лет лишения свободы, и неосторожные деяния, за совершение которых
                      максимальное
                      наказание
                      не превышает десяти лет лишения свободы)
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 80 000</span> ₽
                    </p>
                  </div>

                  <div class="table__td">
                    <p class="p-15"> <span>по тяжким преступлениям </span>(умышленные деяния,
                      за совершение которых максимальное наказание
                      не превышает десяти лет лишения свободы,
                      и неосторожные деяния, за совершение которых максимальное наказание не превышает пятнадцати
                      лет
                      лишения свободы)
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 110 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> <span>по особо тяжким преступлениям</span> (умышленные деяния,
                      за совершение которых предусмотрено наказание в виде лишения свободы на срок свыше десяти лет
                      или более строгое наказание)
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 130 000</span> ₽
                    </p>
                  </div>
                </div>
              </div>

              <div class="price__table-desc">
                <p class="price__desc-text">
                  <span>Примечание:</span> размер вознаграждения адвоката за оказание юридической помощи в качестве
                  представителя потерпевшего соответствует указанным выше размерам вознаграждения адвоката за
                  осуществление защиты по уголовным делам соответствующих категорий и на соответствующих стадиях
                  уголовного судопроизводства
                </p>
              </div>

              <div class="price__table">
                <p class="price__table-title">
                  Стадии обжалования приговора:
                </p>

                <div class="table table--row table--row1">
                  <div class="table__td">
                    <p class="p-15"> апелляционная инстанция
                    </p>
                  </div>

                  <div class="table__row table__td">
                    <div class="table__td">
                      <p class="p-15"> Оплачивается в размере <span>не менее 50 %
                          от размера вознаграждения</span>, оплаченного
                        за ведение дела в суде 1 инстанции
                        по соответствующей категории преступления
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> если адвокат не участвовал в суде 1 инстанции,
                        а вступает в дело в суде апелляционной инстанции, размер вознаграждения составляет
                        <span>не менее 70 % от размера вознаграждения</span>, подлежащего оплате за ведение дела в
                        суде
                        1 инстанции с учетом категории преступления
                      </p>
                    </div>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> кассационная инстанция
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>не менее 40 000 ₽/один судебный день участия</span>
                    </p>
                  </div>
                </div>
              </div>

              <div class="price__content-block--grid">
                <div class="price__table">
                  <p class="price__table-title">
                    Подготовка жалоб по уголовному делу:
                  </p>
                  <div class="table">
                    <div class="table__td">
                      <p class="p-15"> подготовка апелляционной жалобы
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> <span>от 15 000</span> ₽
                      </p>
                    </div>


                    <div class="table__td">
                      <p class="p-15">подготовка кассационной жалобы
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> <span>от 20 000</span> ₽
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> подготовка надзорной жалобы
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"><span>от 30 000</span> ₽
                      </p>
                    </div>


                  </div>

                </div>
                <div class="price__table">
                  <p class="price__table-title">
                    Стадии исполнения приговора, освобождение от наказания, судимость:
                  </p>
                  <div class="table">
                    <div class="table__td">
                      <p class="p-15"> вопросы снятия судимости
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> <span>от 20 000</span> ₽
                      </p>
                    </div>


                    <div class="table__td">
                      <p class="p-15">подготовка апелляционной жалобы
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> <span>от 15 000</span> ₽
                      </p>
                    </div>


                    <div class="table__td">
                      <p class="p-15">подготовка кассационной жалобы
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"> <span>от 20 000</span> ₽
                      </p>
                    </div>


                    <div class="table__td">
                      <p class="p-15"> подготовка надзорной жалобы
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15"><span>от 30 000</span> ₽
                      </p>
                    </div>


                  </div>

                </div>

              </div>

              <div class="price__table">
                <p class="price__table-title">
                  Стадия материала проверки по сообщению о преступлении, жалобы, отдельные следственные действия:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> Защита/представительство на стадии проверки по сообщению о преступлении
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 20 000</span> ₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15">Подготовка жалобы в порядке ст. 124, 125 УПК РФ на решение, действие (бездействие)
                      дознавателя, следователя, руководителя следственного органа
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 4 500</span> ₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15">Защита/представительство при рассмотрении жалобы в порядке ст. 125 УПК РФ в суде
                      первой
                      инстанции
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>8 000</span>₽/один
                      судебный день участия
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> Защита/представительство в течение одного следственного (процессуального)
                      действия
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 5 000</span> ₽
                    </p>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__box">
        <div class="price__label price__label--2">Ведение гражданских дел
        </div>
        <div class="price__content">
          <div class="price__content-box">
            <div class="price__content-block price__content-block--grid">

              <div class="price__table">
                <p class="price__table-title">
                  Дела, возникающие из брачно-семейных отношений:
                </p>

                <div class="table">
                  <div class="table__td">
                    <p class="p-15"> по делам о расторжении брака (при отсутствии спора о детях) и о взыскании
                      алиментов
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 10 000</span> ₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15">по делам о разделе имущества супругов
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>2,5 % от цены имущества,
                        но не менее 35 000
                      </span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> по судебным спорам о детях
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 30 000 </span> ₽
                    </p>
                  </div>
                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Наследственные дела:
                </p>
                <div class="table">
                  <div class="table__td">
                    <p class="p-15"> о признании права собственности
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 25 000</span> ₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15">о включении, исключении имущества из наследственной массы, разделе наследства,
                      оспаривании
                      завещания
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 30 000</span> ₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> сопровождение наследственного дела у нотариуса
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>2,5 % от стоимости наследственного имущества, но не менее 30 000 </span> ₽
                    </p>
                  </div>
                </div>

              </div>

              <div class="price__table">
                <p class="price__table-title">
                  Жилищные споры:
                </p>

                <div class="table table--row">
                  <div class="table table__row">
                    <div class="jcs table__td">
                      <p class="p-15"> приватизация жилых помещений
                      </p>
                    </div>
                    <div class="jcs table__td">
                      <p class="p-15"> утрата и приобретение права пользования жилым помещением
                      </p>
                    </div>


                    <div class="jcs table__td">
                      <p class="p-15">определение порядка пользования жилым помещением
                      </p>
                    </div>


                    <div class="jcs table__td">
                      <p class="p-15">изъятие жилого помещения
                      </p>
                    </div>


                    <div class="jcs table__td">
                      <p class="p-15">вселение и выселение
                      </p>
                    </div>
                  </div>

                  <div class="b-n mw table__td">
                    <p class="p-15"> <span>от 30 000 </span>₽</p>
                  </div>

                </div>

              </div>

              <div class="price__table">
                <p class="price__table-title">
                  Споры по делам о ДТП:
                </p>

                <div class="table table--row">

                  <div class="table__row">
                    <div class="table__td">
                      <p class="p-15">споры по взысканию страхового возмещения
                      </p>
                    </div>
                    <div class="table__td">
                      <p class="p-15 tas"> споры по взысканию ущерба с виновника ДТП
                      </p>
                    </div>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 25 000 </span>₽
                    </p>
                  </div>

                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Иные гражданские споры, подсудные мировым судьям:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> представительство при рассмотрении дела у мирового судьи для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 20 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">представительство при рассмотрении дела у мирового судьи для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 30 000</span> ₽
                    </p>
                  </div>


                </div>

              </div>


              <div class="price__table">
                <p class="price__table-title">
                  Стадии обжалования решения суда:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> подготовка апелляционной жалобы
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 5 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">представление интересов в суде апелляционной инстанции
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 8 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">подготовка кассационной жалобы
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span> от 15 000</span>₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">представление интересов в суде кассационной инстанции
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 40 000</span> ₽
                    </p>
                  </div>


                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  По иным делам, подсудным районным судам:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 20 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 30 000</span> ₽
                    </p>
                  </div>


                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Представительство в отдельном судебном заседании:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> представительство физического лица в одном судебном заседании в районном суде/ у
                      мирового
                      судьи по гражданскому/административному делу
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>5 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">представительство юридического лица в одном судебном заседании в районном суде/ у
                      мирового
                      судьи
                      по гражданскому/административному делу

                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>8 000</span> ₽
                    </p>
                  </div>


                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Ведение дел в арбитражных судах (первая инстанция):
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> при цене иска до 300 000 рублей
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 40 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">при цене иска свыше 300 000 рублей
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 50 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">по исковым заявлениям неимущественного характера
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 40 000</span> ₽
                    </p>
                  </div>


                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Ведение дел в арбитражных судах (апелляционная инстанция):
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> подготовка апелляционной жалобы
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 15 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> при цене иска до 300 000 рублей
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 35 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">при цене иска свыше 300 000 рублей
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 50 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">по исковым заявлениям неимущественного характера
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 40 000</span> ₽
                    </p>
                  </div>


                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Ведение дел в арбитражных судах (апелляционная инстанция):
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> подготовка апелляционной жалобы
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 15 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> при цене иска до 300 000 рублей
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 30 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">при цене иска свыше 300 000 рублей
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 50 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">по исковым заявлениям неимущественного характера
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 40 000</span> ₽
                    </p>
                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__box">
        <div class="price__label price__label--3">Ведение административных дел</p>
        </div>
        <div class="price__content">
          <div class="price__content-box">
            <div class="price__content-block price__content-block--grid">

              <div class="price__table">
                <p class="price__table-title">
                  Ведение административных дел у мирового судьи
                  (первая инстанция):
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 20 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 30 000
                      </span> ₽
                    </p>
                  </div>



                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Ведение административных дел в районном суде (первая инстанция):
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 25 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 40 000
                      </span> ₽
                    </p>
                  </div>



                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Обжалование постановлений о назначении административного наказания:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> подготовка жалобы на постановление, вынесенное должностным лицом или
                      административным
                      органом
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 5 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">подготовка жалобы на постановление, вынесенное судом
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 8 000
                      </span> ₽
                    </p>
                  </div>



                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="price__box ">
        <div class="price__label price__label--4">Исполнительное производство
        </div>
        <div class="price__content">
          <div class="price__content-box">
            <div class="price__content-block">

              <div class="price__table">
                <p class="price__table-title">
                  Представление интересов должника или взыскателя в исполнительном производстве:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> подготовка заявления о возбуждении исполнительного производства
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 1 500</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">подготовка ходатайства в рамках исполнительного производства
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 1 500
                      </span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">контроль хода исполнительного производства
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 15 000
                      </span> ₽/месяц
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="price__box ">
        <div class="price__label price__label--5">Подготовка процессуальных документов
        </div>
        <div class="price__content">
          <div class="price__content-box">
            <div class="price__content-block price__content-block--grid">

              <div class="price__table">
                <p class="price__table-title">
                  Исковые заявления:
                </p>

                <div class="table">
                  <div class="table__td">
                    <p class="p-15">по делам о расторжении брака
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 1 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">по делам о взыскании алиментов
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 1 500</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> по иным делам, подсудным мировым судьям
                      и районным судам
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 4 500 </span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> подготовка административного искового заявления
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 5 000 </span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">по арбитражным делам и по делам, подсудным третейским судам
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 8 000 </span> ₽
                    </p>
                  </div>
                </div>

              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Подготовка письменных отзывов и возражений:
                </p>

                <div class="table">
                  <div class="table__td">
                    <p class="p-15"> по административным делам
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 3 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">по иным делам, подсудным мировым судьям
                      и районным судам общей юрисдикции
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 4 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> по делам, подсудным арбитражным судам
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 5 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> плата за составление иных правовых документов:
                      расписки, обязательства, доверенности, письма,
                      заявления и т.п.
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>от 1 000</span> ₽
                    </p>
                  </div>
                </div>

              </div>

              <div class="price__table">
                <p class="price__table-title">
                  Правовая экспертиза договоров, разработка учредительных документов, протоколов собраний
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> правовая экспертиза договора
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 1 500 </span>₽/страница
                    </p>
                  </div>



                  <div class="table__td">
                    <p class="p-15"> разработка учредительных документов ООО
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 20 000 </span>₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">разработка протоколов собраний и иной корпоративной документации
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>от 1 000 </span>₽/страница
                    </p>
                  </div>
                </div>
                <div class="price__table-desc">
                  <p class="price__desc-text">
                    <span>Примечание:</span> Плата за ознакомление с материалами дела, если материалы дела не
                    превышают одного тома (в случаях, когда не заключается соглашение на ведение дела) не менее 4500₽.
                  </p>
                </div>


              </div>

              <div class="price__div price__table--all">
                <p class="price__table-title">
                  Комплексное правовое обслуживание предприятий и предпринимателей:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> <span>Правовая помощь онлайн </span></p>
                    <ul>
                      <li class="p-15">
                        • мессенджеры
                      </li>
                      <li class="p-15">
                        • электронная почта
                      </li>
                      <li class="p-15">
                        • телефонная связь
                      </li>
                      <li class="p-15">
                        • 10 консультаций в месяц
                      </li>
                    </ul>

                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>10 000 </span>₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> <span>Пакет «Минимум» </span> </p>
                    <ul>
                      <li class="p-15">
                        • работа с договорами (юридическое согласование, экспертиза, разработка) – до 5;
                      </li>
                      <li class="p-15">
                        • регистрационные действия (внесение изменений в уставные документы) – до 2;
                      </li>
                      <li class="p-15">
                        • досудебное разбирательство (составление претензий, переписка) – до 2;
                      </li>
                      <li class="p-15">
                        • консультации – устно до 10, письменно – не более 2 письменных консультаций
                      </li>
                    </ul>

                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>20 000 </span>₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> <span>Пакет «Стандарт» </span></p>
                    <ul>
                      <li class="p-15">
                        • работа с договорами (юридическое согласование, экспертиза, разработка) – до 10;
                      </li>
                      <li class="p-15">
                        • регистрационные действия, внесение изменений в уставные документы – до 3;
                      </li>
                      <li class="p-15">
                        • разработка локальных нормативных актов для организации (положения, инструкции, приказы,
                        регламенты и др.) – до 5;
                      </li>
                      <li class="p-15">
                        • досудебное разбирательство (составление претензий, переписка) – до 5;
                      </li>
                      <li class="p-15">
                        • представительство в суде – до 2 судебных заседаний;
                      </li>
                      <li class="p-15">
                        • консультации – устно до 20, до 5 письменных консультаций.
                      </li>
                    </ul>

                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>30 000 </span>₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15"> <span>Пакет «Стандарт» </span> </p>
                    <ul>
                      <li class="p-15">
                        • работа с договорами (юридическое согласование, экспертиза, разработка) – до 15;
                      </li>
                      <li class="p-15">
                        • регистрационные действия, внесение изменений в уставные документы – до 5;
                      </li>
                      <li class="p-15">
                        • сопровождение сделок с недвижимостью – до 2;
                      </li>
                      <li class="p-15">
                        • представительство в государственных органах, связанных с исполнением судебных решений –
                        до 3;
                      </li>
                      <li class="p-15">
                        • досудебное разбирательство (составление претензий, переписка) – до 7;
                      </li>
                      <li class="p-15">
                        • представительство в суде – до 7 судебных заседаний;
                        консультации юриста – устно без ограничений, до 7 письменных консультаций.

                      </li>
                    </ul>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>70 000 </span>₽
                    </p>
                  </div>
                </div>
              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Запросы:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>1 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>2 000</span> ₽
                    </p>
                  </div>
                </div>
              </div>
              <div class="price__table">
                <p class="price__table-title">
                  Консультации:
                </p>

                <div class="table">
                  <div class="table__td">
                    <p class="p-15">устная консультация для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>1 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">устная консультация для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>2 000</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">письменная консультация для граждан
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>1 500</span> ₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">письменная консультация для юридических лиц
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>3 000</span> ₽
                    </p>
                  </div>
                </div>
              </div>


              <div class="price__table">
                <p class="price__table-title">
                  Подготовка договоров:
                </p>

                <div class="table">


                  <div class="table__td">
                    <p class="p-15"> купли – продажи транспортного средства
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span> от 1 500</span>₽
                    </p>
                  </div>


                  <div class="table__td">
                    <p class="p-15">купли – продажи, дарения недвижимого имущества
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span>0,25 %</span>от цены имущества,
                      но не менее<span>5000</span> ₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15">аренды недвижимого имущества
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"> <span> от 4 000</span>₽
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15">иного гражданско-правового договора
                    </p>
                  </div>
                  <div class="table__td">
                    <p class="p-15"><span>1 500 </span>₽/страница
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="price__box ">
        <div class="price__label price__label--6">Примечание</p>
        </div>
        <div class="price__content">
          <div class="price__content-box">
            <div class="price__content-block">

              <ol class="price__list-ol">
                <li>
                  <p class="p-15">
                    Указанные выше размеры вознаграждений адвоката за оказание юридической помощи не включают в себя
                    командировочные и иные расходы (питание, проживание, государственные пошлины и иные обязательные
                    платежи в адрес третьих лиц).
                  </p>
                </li>
                <li>
                  <p class="p-15">
                    Командировочные и иные расходы оплачиваются доверителем дополнительно, если иное не установлено
                    соглашением сторон, исходя из следующих размеров:
                    <br>
                    • Если расстояние не превышает 20 км. – 1 000 ₽ <br>
                    • Если расстояние составляет от 20 км. до 30 км. – 2 000 ₽ <br>
                    • Если расстояние составляет от 30 км. до 40 км. – 3 000 ₽ <br>
                    • Если расстояние составляет от 40 км. до 50 км. – 4 000 ₽ <br>
                    • Если расстояние составляет от 50 км. до 60 км. – 5 000 ₽ <br>
                    • Если расстояние составляет от 60 км. до 70 км. – 6 000 ₽ <br>
                    • Если расстояние составляет от 70 км. до 80 км. – 8 000 ₽ <br>
                    • Если расстояние составляет от 80 км. до 100 км. – 10 000 ₽ <br>
                    • Если расстояние составляет от 100 км. до 150 км. – 15 000 ₽ <br>
                    • Если расстояние составляет свыше 150 км. – 20 000 ₽ <br>
                  </p>
                </li>
                <li>
                  <p class="p-15">
                    По уголовным делам, при совокупности преступлений, размер вознаграждения поверенного определяется
                    по наиболее тяжкому составу преступления.
                  </p>
                </li>
                <li>
                  <p class="p-15">
                    Размер вознаграждения поверенного за ведение уголовных, гражданских и иных дел на стадии
                    предварительного следствия и в судах на основании заключенного соглашения, включает в себя
                    ознакомление с материалами дела, если материалы дела не превышают 3-х томов.
                  </p>
                </li>
                <li>
                  <p class="p-15">
                    Вознаграждение за ведение уголовных, гражданских и иных дел на стадии предварительного следствия и
                    в судах на основании заключенного соглашения увеличивается на:
                    <br>
                    • 10 %, если материалы дела составляют свыше 3-х томов <br>
                    • 20 %, если материалы дела составляют свыше 5-ти томов <br>
                    • 30 %, если материалы дела составляют свыше 10-ти томов <br>
                  </p>
                </li>
                <li>
                  <p class="p-15">
                    За продолжительность судебного разбирательства по гражданским
                    и уголовным делам, а равно за продолжительность осуществления защиты по уголовным делам на стадии
                    предварительного расследования не по вине адвоката, в случае, если иное не предусмотрено условиями
                    соглашения, предусматривается доплата в процентном соотношении к первоначальному размеру
                    вознаграждения

                    <br>
                    • продолжительность судебного разбирательства свыше 6 месяцев – 50 % гонорара <br>
                    • продолжительность судебного разбирательства свыше 1 года – 100 % гонорара <br>
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}